* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.screen {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagewrapper {
  width: 80%;
  max-width: 1167px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .pagewrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main {
  width: 441px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav {
  width: 100%;
  height: 98px;
  padding-top: 3em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  font-family: "Abril Fatface", cursive;
  font-size: 1.1rem;
  font-weight: normal;
  font-style: normal;
}

.nav__list {
  width: 237px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 800px) and (min-width: 400px) {
  .nav {
    max-width: 617px;
  }
}

.nav__list a {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.nav__list a:hover {
  color: grey;
}

.nav__list {
  list-style-type: none;
}

.nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav__list a {
    display: none;
  }
  .nav .icon {
    display: block;
    color: #fff;
  }
}

@media screen and (max-width: 600px) {
  .nav__list.responsive {
    position: relative;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav__list.responsive a {
    display: block;
    text-align: left;
  }
}

.title {
  width: 94%;
  height: 244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.title--h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 84px;
  line-height: 1.3x;
  letter-spacing: -2px;
}

.title--content {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.5;
}

@media screen and (max-width: 800px) {
  .title {
    width: 574px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .title__content {
    width: 60%;
    text-align: center;
  }
}

.downarrow {
  padding: 1rem;
  border: 1px solid #000000;
}

.downarrow:hover {
  border: 1px solid grey;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 3s easy-in-out;
  transition: 3s easy-in-out;
}

@media screen and (max-width: 600px) {
  .downarrow {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */